:root {
    /* COLORS */
    /* Primary */
    --pale-blue:            hsl(225, 100%, 94%);
    --bright-blue:          hsl(245, 75%, 52%);
    /* Neutral */
    --very-pale-blue:       hsl(225, 100%, 98%);
    --desaturated-blue:     hsl(224, 23%, 55%);
    --dark-blue:            hsl(223, 47%, 23%);

    /*FONTS*/
    --font-primary:     'Red Hat Display', sans-serif;
    --medium:       500
    --bold:         700;
    --black:        900;

    /* WIDTHS */
    --width: 35rem;
}
/* GLOBAL */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-primary);
    font-size: 1.6rem;
    line-height: 1;
    background-color: var(--pale-blue);
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    min-height: 100vh;
    display: grid;
    place-items: center;
}
@media (min-width: 768px) {
    body {
        background-image: url(../images/pattern-background-desktop.svg);
    }
}
img {
    display: block;
    max-width: 100%;
}
p {
    margin: 0;
    line-height: 1.5;
}
a {
    text-decoration: none;
}
.container {
    width: min(90%, var(--width));
    margin: 0 auto;
}



/* FOOTER */
.attribution {
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}
@media (min-width: 768px) {
    .attribution {
        font-size: 1.2rem;
        position: absolute;
        bottom: 0;
    }
}
.attribution__link {
    color: var(--bright-blue);
}